@if (TempData["menu"] != null)
{
    <!-- Menu -->
    <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
        <div class="app-brand demo">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="app-brand-link">
                <img class="w-25 h-25 rounded-circle" src="/AdminAssets/assets/img/favicon/HTB.ico" />
                <span class="app-brand-text menu-text demo fw-bolder ms-2 text-uppercase">ADMIN</span>
            </a>
            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
        </div>

        <div class="menu-inner-shadow"></div>
        <ul class="menu-inner py-1">
            <!-- Menu items -->
            @foreach (var menuItem in new[]
           {
        new { Menu = "Home", Text = "Trang chủ",Icon = "bx bx-home-circle"  },
        new { Menu = "TrungTam", Text = "Chuỗi trung tâm",Icon = "bx bx-home-circle" },
        new { Menu = "DichVu", Text = "Dịch vụ",Icon = "bx bx-home-circle" },
        new { Menu = "MonHoc", Text = "Môn học",Icon = "bx bx-home-circle" },
        new { Menu = "SanPham", Text = "Sản phẩm",Icon = "bx bx-home-circle" },
        new { Menu = "NhanVien", Text = "Nhân viên" ,Icon = "bx bx-home-circle"},
        new { Menu = "Lop", Text = "Lớp" ,Icon = "bx bx-home-circle"},
        new { Menu = "HocSinh", Text = "Học sinh",Icon = "bx bx-home-circle" },
        new { Menu = "KetQua", Text = "Kết quả thi" ,Icon = "bx bx-home-circle"},
        new { Menu = "PhieuThuChi", Text = "Hóa đơn",Icon = "bx bx-home-circle" },
        new { Menu = "NhaCungCap", Text = "Nhà cung cấp" ,Icon = "bx bx-home-circle"}
        })
            {
                <li class="menu-item @(menuItem.Menu.ToString() == TempData["menu"].ToString() ? "active" : "")">
                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                        <i class="menu-icon tf-icons @(menuItem.Icon)"></i>
                        <div data-i18n="@menuItem.Menu">@menuItem.Text</div>
                    </a>
                    <ul class="menu-sub">
                        <li class="menu-item @(menuItem.Menu.ToString() == TempData["menu"].ToString() ? "active" : "")">
                            <a asp-area="Admin" asp-controller="@menuItem.Menu" asp-action="Index" class="menu-link">
                                <div data-i18n="@menuItem.Menu">Thông tin @menuItem.Text</div>
                            </a>
                        </li>
                    </ul>
                </li>
            }
            <div class="my-5"></div>
        </ul>
    </aside>
    <!-- / Menu -->
}
